/* @group Comment Styles - Avatar Left */
h3#comments {
	padding-bottom: 4px;
}
.comment_box {
	margin-top: 30px;
}
#commentform textarea {
	width: 96%;
}
#respond h3 {
	clear: both;
}
.commentlist li {
	border-bottom: 1px solid #E8E8E8;
	font-size: 13px;
	padding: 10px 0;
	list-style: none;
}
.commentlist {
	margin-left: 0px;
	overflow: hidden;
}
.comment-body {
	margin-left: 85px;
	position: relative;
}
.avatar {
	position: absolute;
	top: 0;
	left: -85px;
	border-radius: 50px;
}
cite.fn,cite.fn a {
	text-decoration: none;
	font-weight: bold;
	font-style: normal;
	font-size: 15px;
	float: left;
	padding-right: 10px;
}
.comment-meta a {
	text-decoration: none;
	color: #555;
}
.comment-meta {
	margin-bottom: 14px;
	font-size: 12px;
}
span.says {
	display: none;
}
/* @end */
