* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	&:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	&:before {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
}
ol, ul {
    margin-left: 20px;
}
/* General Styles */
.alignleft{float:left;margin-right:12px;margin-bottom:2px;}
.alignright{float:right;margin-left:12px;margin-bottom:2px;}
.widget.book img.wp-post-image {
	margin-bottom: 10px;
}
.clr {clear:both;}
.otr_nav span {
    background: whitesmoke;
}
.otr_nav {
	overflow: hidden;
	padding-bottom: 12px;
}
.nl-signup-wide .mc-field-group {
	float: left;
	display: block;
	margin-right: 6px;
}
.form-inline .mc-field-group, .form-inline .clear {
	display:inline-block;
}

div[class*=col-].centered {
	margin: 0 auto;
	float: none;
	text-align: left;
}
::-moz-selection {
	background: darken(@brand-primary, 2%);
	color: #fff;
}
::selection {
	background: darken(@brand-primary, 2%);
	color: #fff;
}

// some general styling
nav.navbar.navbar-default.header {
    margin-bottom: 0;
}
.background-primary {
	background: @brand-primary;
	border: none;
	border-radius: 0;
	color: #fff;
	a {
		color: #fff !important;
	}

}
body {
	background: #ddd;
}
.body-wrap {
	margin: 0 auto;
	max-width: 1400px;
	background: #fff;
	overflow: hidden;
}
// search box styling
#search {
	z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: darken(@brand-primary, 40%);

    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
	// Change the white to any color ;)
	input:-webkit-autofill {
	    -webkit-box-shadow: 0 0 0px 1000px darken(@brand-primary, 40%) inset;
		-webkit-text-fill-color: @brand-primary !important;
	}
	&.open {
	    -webkit-transform: translate(0px, 0px) scale(1, 1);
	    -moz-transform: translate(0px, 0px) scale(1, 1);
		-o-transform: translate(0px, 0px) scale(1, 1);
		-ms-transform: translate(0px, 0px) scale(1, 1);
		transform: translate(0px, 0px) scale(1, 1);
	    opacity: 1;
	}
	input[type="search"] {
	    position: absolute;
	    top: 50%;
	    width: 100%;
	    color: rgb(255, 255, 255);
	    background: rgba(0, 0, 0, 0);
	    font-size: 60px;
	    font-weight: 300;
	    text-align: center;
	    border: 0px;
	    margin: 0px auto;
	    margin-top: -51px;
	    padding-left: 30px;
	    padding-right: 30px;
	    outline: none;
	}
	.btn {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-top: 61px;
	    margin-left: -45px;
	}
	.close {
	    position: fixed;
	    top: 15px;
	    right: 15px;
	    color: #fff;
		background-color: @brand-primary;
		border-color: @brand-primary;
		opacity: 1;
		padding: 10px 17px;
		font-size: 27px;
	}
}
.navbar-social {
	.is_desc_text {
		display: none;
	}
    text-align: center;
    li {
        display: inline-block;
    }
    a {
        font-size: 18px;
    }
}
