// main: themes/primary/primary.less
.ta-center {
    text-align: center;
}
.border-radius(@radius) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}
.box-shadow(@shadow) {
	-webkit-box-shadow: @shadow;
	-moz-box-shadow: @shadow;
	box-shadow: @shadow;
}
.transition(@transition: all 0.5s ease) {
	transition: @transition;
	-moz-transition: @transition; /* Firefox 4 */
	-webkit-transition: @transition; /* Safari and Chrome */
	-o-transition: @transition; /* Opera */
}
.gradient (@startColor: #eee, @endColor: white ) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}

.btn {
	background: @brand-primary;
	color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    &.btn-lg {
        font-size: 14px;
    }
}
.header {
	margin-bottom: 0px;
    border: none;
    .navbar-brand {
    	font-size:  22px;
    	font-family: @font-family-serif;
    }
}
.grey-wrap {
	background: @gray-lighter;
}
// homepage template 1
section.jumbotron.masthead {
	-moz-background-size: 100%;
	-moz-background-size: cover;
	-o-background-size: 100%;
	-o-background-size: cover;
	-webkit-background-size: 100%;
	-webkit-background-size: cover;
	background-attachment: relative;
	background-position: center center;
	background-image: url(../images/logos/img-masthead-1.png);
	background-size: cover;
	/* triggered when max-width is  */
	min-height: 700px;
	@media (max-width: @screen-sm) {
		min-height: 300px;
		padding-top: 50px;
		padding-bottom: 50px;
        background: @gray-dark;
	}
	padding-top: 250px;
	padding-bottom: 200px;
	margin-bottom: 0px;
	h1 {
        text-shadow: 0 0 10px rgba(0,0,0,0.6);
		color: white;
		font-size: 40px;
		font-weight: 300;
		letter-spacing: 2px;
		line-height: 55px;
		margin-bottom: 40px;
        text-align: left;
	}
}
.logos-row {
	text-align: center;
	img {
		-webkit-filter: grayscale(1);
 		filter: grayscale(1);
	}
}
section.background-primary {
	background: @brand-primary;
	color: white;
}
.reviews-wrap {
    font-weight: 100;
    .lead {
        p {
            font-size: 36px;
            line-height: 1.5em;
        }
    }
    p.source {
        font-size: 18px;
        line-height: 1.5em;
        margin-top: 24px;
    }
}

// Height variables (appears count calculates by raw css)
@height0: 100%; // Appears 2 times

.gray-dark {
	background: @gray-dark;
	color: #fff;
}
.entry #reviews {
    .quote {

    }
}
.book-wrap {
    padding: 40px 0;
    background: #f5f5f5;
    h2 {
        margin-top: 0px;
        font-size: 28px;
    }
    p {
        font-size: 18px;
        line-height: 1.5em;
        margin-bottom: 21px;
    }
    .bookseller-links img {
        margin-right: 10px;
        padding: 0;
        margin-bottom: 15px;
         /* triggered when  is  */
          @media (min-width: @screen-md-max) {
            width: 22%;
         }

    }
}
.signup .form-group {
    margin-right: 14px;

}
// footer styles go here
.prefooter {
    padding: 40px 0;
    .widgets-mod-0 {
        .column {
            .make-sm-column(3);
        }
    }
    .widgets-mod-3 {
        .column {
            .make-sm-column(4);
        }
    }
    // if there are 2, or 6, or 10 widgets
    .widgets-mod-2 {
        .column {
            .make-sm-column(6);
        }
        // if there are exactly 2 widgets
        &.widgets-count-2 {
            .column {
                .make-sm-column(6);
            }
        }
    }
    // if there's 1, 5, 7 or 9 widgets
    .widgets-mod-1 {
        .column {
            .make-sm-column(6);
        }
        // if there's exactly 1 widget
        &.widgets-count-1 {
            .column {
                // create a smaller column, and offset that to the middle.
                .make-sm-column(8);
                .make-sm-column-offset(2);
            }
            .imprint_about {
                img {
                    float: left;
                    padding-right: 30px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
.footer {
	font-size: 13px;
	background: @gray;
	color: #fff;
	margin-bottom: 0px;
	a {
		color: lighten(@brand-primary, 20%);
	}
     /* triggered when max-width: @screen-sm  */

     @media ( max-width: @screen-sm ) {
          .pull-right, .pull-left {
              margin-bottom: 10px;
              display: block;
              float: none !important;
              margin-top: 10px;
          }
     }

}
// blog content
div.wp-caption {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 30px;
}
#blog .content p.wp-caption-text,
.page .content p.wp-caption-text,
.content .gallery-caption {
    font-size: 12px !important;
    font-family: @font-family-serif;
    line-height: 1.5em;
    padding-top: 8px;
    margin-bottom: 0;
}

// Height variables (appears count calculates by raw css)
@height1: 39px; // Appears 3 times

.post {
    .feat-picture {
        margin-bottom: 20px;
    }
}
#blog {
	#posts {
		margin-top: 55px;
		.post {
			//margin-bottom: 90px;
			.pic {
				border: 0px;
				&:hover {
					img {
						filter: alpha(opacity=90);
						opacity: 0.9;
					}
				}
				img {
					-moz-transition: all 0.25s linear;
					-ms-transition: all 0.25s linear;
					-o-transition: all 0.25s linear;
					-webkit-transition: all 0.25s linear;
					filter: alpha(opacity=100);
					opacity: 1;
					transition: all 0.25s linear;
				}
			}
			.video {
				.iframe-wrapper {
					height: 0;
					padding-bottom: 56%;
					position: relative;
					iframe {
						height: 100%;
						left: 0;
						position: absolute;
						top: 0;
						width: 100%;
					}
				}
			}
			.title {
				font-size: 28px;
				font-weight: 600;
				margin-top: 0px;
				a {
					-moz-transition: color 0.15s linear;
					-ms-transition: color 0.15s linear;
					-o-transition: color 0.15s linear;
					-webkit-transition: color 0.15s linear;
					color: #111111;
					transition: color 0.15s linear;
					&:hover {
						color: @brand-primary;
						text-decoration: none;
					}
				}
			}
			.author {
				color: #888888;
				margin-top: 4px;
				position: relative;
				.avatar {
					border-radius: 50px;
					left: -75px;
					max-width: 60px;
					position: absolute;
					top: -15px;
				}
			}
			.intro {
				color: #4d4d4d;
				font-size: 16px;
				line-height: 27px;
				margin-top: 18px;
			}
			.continue-reading {
				-moz-transition: color 0.25s linear;
				-ms-transition: color 0.25s linear;
				-o-transition: color 0.25s linear;
				-webkit-transition: color 0.25s linear;
				display: inline-block;
				font-size: 15px;
				margin-top: 8px;
				transition: color 0.25s linear;
			}
		}
	}
}

// blog excerpts
.blog-excerpts {
	h3 {
		margin-top: 20px;
        font-weight: 600;
	}
	hr {
		border: 1px solid @gray-lighter;
		width: 40px;
	}
	img {
		height: auto;
		//width: @width1;
	}
	.date {
		border: 2px solid @gray;
		float: left;
		height: 60px;
		margin-right: 15px;
		margin-top: 10px;
		padding: 5px;
		text-align: center;
		width: 60px;
		h4 {
			font-size: 14px;
			font-weight: 700;
			margin-bottom: -5px;
			margin-top: 5px;
			text-transform: uppercase;
		}
		bold, strong {
			font-size: 16px;
			font-weight: 900;
		}
	}
	.desc {
		color: #aeaeae;
		font-size: 14px;
		margin-top: -5px;
	}
	.ptb();
}
.btn-clear {
	background: transparent;
	color: white;
	border: 1px solid white;
	&:hover {
		background: white;
		color: #2f2f2f;
		border: 1px solid;
	}
}
.btn-wide {
    padding-left: 30px;
    padding-right: 30px;
}
.blog .sidebar {
    .imprint_about {
        padding: 15px;
        background: @gray-lighter;
    }
}
//@media {
//	(max-width {
//		 {
//			#blog #posts .pages { text-align: center;
//			#blog #posts .post .pic img { margin: 0 auto;
//			#blog #posts .post .title { text-align: center;
//			#blog #posts .sidebar .best-hits a { display: block;
//			#blog #posts .sidebar .best-hits { margin-top: 40px;
//			#blog #posts .sidebar .search input { width: 95%;
//			#blog #posts .sidebar { margin-top: 70px;
//			margin-bottom: 10px;
//			margin-bottom: 20px;
//			text-align: center;
//		}
//		&:767px) {
//			#blog #posts .post .title { font-size: 23px;
//			#blogpost #blogpost-wrapper .post .author { font-size: 12px;
//			#blogpost #blogpost-wrapper .post .title { font-size: 26px;
//			line-height: 28px;
//			margin-top: 10px;
//		}
//	}
//	(min-width {
//		&:992px) {
//			#blog #posts .post .intro { width: 90%;
//			#blog #posts .post .video { max-width: 635px;
//			#blog #posts .sidebar .updates { width: 85%;
//		}
//	}
//}
.form-search .btn {
    padding-top: 7px;
    padding-bottom: 8px;
}
#blog.single {
	#posts {
		margin-top: 50px;
		.main-pic {
			img {
				margin: 0 auto;
			}
		}
		.post {
			float: none;
			margin-bottom: 55px;
			margin: 0 auto;
			.title {
				color: #252525;
				font-family: @headings-font-family;
				font-size: 31px;
				font-weight: 600;
				margin-top: 40px;
			}
			.author {
				color: #757575;
				font-weight: 300;
				margin-top: 4px;
				position: relative;
				.avatar {
					border-radius: 50px;
					left: -75px;
					max-width: 56px;
					position: absolute;
					top: -18px;
				}
			}
			.content {
				color: #353535;
				font-family: @font-family-sans-serif;
				font-size: 15px;
				line-height: 30px;
				margin-bottom: 25px;
				margin-top: 35px;
				p {
					margin-bottom: 30px;
					font-size: 18px;
				}
                ul, ol {
                    font-size: 18px;
                    > li {
                        margin-bottom: 10px;
                        margin-top: 10px;
                    }
                }
				//img {
				//	margin-bottom: 55px;
				//	margin-top: 55px;
				//	margin: 0 auto;
				//}
				.divider {
					border-bottom: 1px solid #DEDEDC;
					margin-bottom: 35px;
					margin-top: 35px;
					margin: 0 auto;
					width: 20%;
				}
			}
			.share {
				margin-top: 50px;
			}
			.other-posts {
				margin-top: 50px;
			}
		}
	}
}
.entry blockquote, .entry #reviews {
    //border-left: 3px solid @brand-primary;
    color: rgba(51, 51, 51, 0.55);
    font-family: @font-family-serif;
    p {
        border-left:4px solid  spin(@brand-primary, 180);
        font-weight: normal;
        padding: 5px 10px 5px 23px;
        font-size: 22px;
        line-height: 1.5em;
        margin: 35px 0;
        margin-bottom: 20px;
    }
    .quote-author {
        margin-top: 14px;
    }
}
.breadcrumb {
    margin-left: 0px !important;
	background: none;
	padding: 0;
	font-weight: bold;
    border: none;
}
ul.dropdown-menu {
	padding: 0px;
	> li:last-child a {
		border-bottom: 0px;
	}
    @media (min-width: @screen-md-min) {
	> li > a {
        border-bottom: 1px solid @gray-lighter;
        padding: 10px 20px;
    	}
    }
}
// general blog styles {
.post {
	border-bottom: 1px solid @gray-lighter;
    padding-bottom: 30px;
    margin-bottom: 40px;
}
.signup {
    p {
        //font-size: 20px;
    }
}
#home .signup {
    input {
        &[type=text], &[type=email] {
            .input-lg();
        }
        &[type=submit] {
            .btn-primary();
            .btn-lg();
            display: block;
        }
    }

}
.sidebar .widget {
    clear: both;
}
.widget {
    h3.widgettitle {
        font-size: 14px;
        font-weight: bold;
        color: @gray-dark;
        margin-top: 0px;
    }
    margin-bottom: 25px;
    padding-bottom: 10px;
    color: #777777;
    font-size: 13px;
    line-height: 1.5em;
    .tab-content {
        border: 1px solid #ddd;
        padding: 17px;
        border-top: 0px;

    }
    &.nlsignup_widget {
        background: @brand-primary !important;
        color: #fff;
        padding: 15px 20px;
        border: 1px solid darken(@brand-primary, 10%);
        h3 {
            color: #fff;
        }
        .button {
            .btn-default();
        }
    }
}
.nlsignup_content {
    background: @gray-lighter;
    padding: 20px;
    text-align: center;
    margin-bottom: 24px;
    .mc-field-group, .clear {
        margin-bottom: 0;
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .button {
    }
}

.nav-tabs {
    margin-left: 0 !important;
    > li > a {
        border-radius: 3px 3px 0 0;
        padding: 5px 10px;
        font-size: 12px;
    }
}
.single .post {
	border-bottom: none;
}

// This is the page styles
.container.page.content > .row {
    padding: 50px 0;
}
.page .post {
    border-bottom: 0;
    margin-bottom: 0;
}
body .jumbotron {
	padding: 80px 0px;
	background-color: @gray-lighter;
	&::after, &:after {
		opacity: 1;
	}
	h1 {
		//text-shadow: 0 0 75px rgba(0,0,0,0.5);
	}
}

// imprint social widget
.widget.ot_social_widget {
    text-align: center;
    span.is_desc_text {
        display: none;
    }

    i {
        font-size: 30px;
        color: #fff;
        background-color: @brand-primary;
        min-width: 50px;
        min-height: 50px;
        line-height: 50px;
    }
    a {
        padding: 10px;
        display:inline-block;
        &.twitter:hover i {
            background-color: #00aced;
        }
        &.facebook:hover i {
            background-color: #3b5998;
        }
        &.linkedin:hover i {
            background-color: #007bb6;
        }
        &.youtube:hover i {
            background-color: #bb0000;
        }
        &.instagram:hover i {
            background-color: #517fa4;
        }
        &:hover {
            text-decoration: none;
        }
        .transition();
    }
}
.page .widget{
	background: @gray-lighter;
	padding: 20px;
    font-size: 15px;
    margin-bottom: 20px;
	@media (max-width: @screen-md-min) {
		padding: 20px;
	}
	p {
		line-height: 1.5em;
		font-weight: 100;
	}
	h3 {
		margin-top: 0px;
		text-align: center;
		line-height: 1.3em;
	}
	&.nlsignup_widget {
		.mc-field-group {
			margin-bottom: 10px;
		}
		border: 1px solid #ddd;
		background: none;
	}

	p, ul, {
	  margin-bottom: 18px;
	}
	li a {
	 padding: 10px;
	  display: block;
	}
	.btn {

	}
	ul {
		padding-left: 0px;
		margin-left: 0px;
	}
	li {
		list-style: none;
		border-bottom: 1px solid #ddd;
		> a {
			padding: 6px 12px;
		}
	}

}
.widget.book {
    text-align: center;
}
.single-book .widget {
    background: none;
    padding: 0px;
    margin-bottom: 30px;
    &.nlsignup_widget {
        padding: 15px 20px;
    }
}
// imprint about widget
.imprint_about {
    img {
        margin-bottom: 18px;
    }
    p {
        margin-bottom: 0;
        font-size: 120%;
        line-height: 1.5em;
    }
    .imprint-more-link-wrap {
        padding-top: 15px;
        display: block;
        a.more {
            .btn();
            .btn-primary();
            .btn-sm();
            font-weight: bold;
        }
    }
}
header.jt-page {
    margin-bottom: 0px;
}
.headline h1.pagetitle, .jt-page h1, h1 {
    padding: 0px 0 25px;
	margin-top: 0px;
    font-size: 28px;
    font-weight: 600;
    a {
        color: inherit;
    }
}
h2, .h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5em;
}
h3, .h3 {
    font-size: 22px;
}
.jt-page h1 {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.carousel-wrap {
    padding-top: 25px;
}
/* Mailchimp Form Styling */
.mc-field-group {
    margin-bottom: 11px;
}
.button, input.button, input[type=submit] {
	.btn();
	.btn-primary();
}
// margin bottom on the video
.embed-container {
    margin-bottom: 30px;
}
.page .books_widget {
    padding: 0px;
    background: none;
    .books-text {
        img.attachment-book-thumb.size-book-thumb.wp-post-image {
            float: left;
            width: 160px;
            margin-right: 10px;
        }
        .bookseller-links {
            clear: both;
        }
    }
}

// Navbar Inverse
/*
@navbar-inverse-bg: @brand-primary;
.navbar-inverse-brand {
  background-color: @navbar-inverse-bg;
  border-color: @navbar-inverse-border;

  .navbar-brand {
    color: @navbar-inverse-brand-color;
    &:hover,
    &:focus {
      color: @navbar-inverse-brand-hover-color;
      background-color: @navbar-inverse-brand-hover-bg;
    }
  }

  .navbar-text {
    color: @navbar-inverse-color;
  }

  .navbar-nav {
    > li > a {
      color: @navbar-inverse-link-color;

      &:hover,
      &:focus {
        color: @navbar-inverse-link-hover-color;
        background-color: @navbar-inverse-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-inverse-link-active-color;
        background-color: @navbar-inverse-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-inverse-link-disabled-color;
        background-color: @navbar-inverse-link-disabled-bg;
      }
    }
  }

  // Darken the responsive nav toggle
  .navbar-toggle {
    border-color: @navbar-inverse-toggle-border-color;
    &:hover,
    &:focus {
      background-color: @navbar-inverse-toggle-hover-bg;
    }
    .icon-bar {
      background-color: @navbar-inverse-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: darken(@navbar-inverse-bg, 7%);
  }

  // Dropdowns
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: @navbar-inverse-link-active-bg;
        color: @navbar-inverse-link-active-color;
      }
    }

    @media (max-width: @grid-float-breakpoint-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > .dropdown-header {
          border-color: @navbar-inverse-border;
        }
        .divider {
          background-color: @navbar-inverse-border;
        }
        > li > a {
          color: @navbar-inverse-link-color;
          &:hover,
          &:focus {
            color: @navbar-inverse-link-hover-color;
            background-color: @navbar-inverse-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-inverse-link-active-color;
            background-color: @navbar-inverse-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-inverse-link-disabled-color;
            background-color: @navbar-inverse-link-disabled-bg;
          }
        }
      }
    }
  }

  .navbar-link {
    color: @navbar-inverse-link-color;
    &:hover {
      color: @navbar-inverse-link-hover-color;
    }
  }

  .btn-link {
    color: @navbar-inverse-link-color;
    &:hover,
    &:focus {
      color: @navbar-inverse-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: @navbar-inverse-link-disabled-color;
      }
    }
  }
}
*/
