/// main: common.less
// styles
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.centered {
	text-align: center;
}
.nopadding {
	margin: 0px;
	padding: 0px !important;
}
.no-pad-left {
	padding-left: 0px;
}
.no-pad-right {
	padding-right: 0px;
}
.ptb {
	padding-top: 30px;
	padding-bottom: 30px;
}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb2 {padding-top: 80px; padding-bottom: 80px;}

div img {
	max-width: 100%;
	height: auto;
}
