// out: ../../../editor-style.css
@import "../variables.less";
@import "../mixins.less";

// Reset and dependencies
@import "../normalize.less";
@import "../print.less";
@import "../glyphicons.less";

// Core CSS
@import "../type.less";
@import "../code.less";
@import "../grid.less";
@import "../tables.less";
@import "../forms.less";
@import "../buttons.less";

@import "../utility.less";
@import "../common.less";
@import "../main.less";

body {
    background: #fff;
    margin: 20px;
    width: 700px;
}
hr {
    margin: 20px 0;
    border-top: 1px solid #ddd;
    border-bottom: 0px;
    clear: both;
}
